[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/exo-web-browser.desktop]
row=1
col=2

[/home/ghlin/Desktop/实验指导书.pdf]
row=1
col=1

[/home/ghlin/Desktop/SD_RuleBook_EN_10.pdf]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghlin]
row=0
col=2

