[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/Parser.hs]
row=3
col=1

[/home/ghlin/Desktop/protocol-save.txt]
row=2
col=4

[/home/ghlin/Desktop/exo-terminal-emulator.desktop]
row=1
col=6

[/home/ghlin/Desktop/数学考纲.pdf]
row=2
col=6

[/home/ghlin/Desktop/replay-2.yrp]
row=1
col=2

[/home/ghlin/Desktop/demo]
row=0
col=6

[/home/ghlin/Desktop/allcards.json]
row=3
col=5

[/home/ghlin/Desktop/allcards-low.json]
row=1
col=5

[/home/ghlin/Desktop/protocol-org.txt]
row=0
col=4

[/home/ghlin/Desktop/protocol.txt]
row=3
col=4

[/home/ghlin/Desktop/parsimmon.api.pdf]
row=3
col=3

[/home/ghlin/Desktop/2.yrp]
row=0
col=5

[/home/ghlin/Desktop/allcards-pretty.json]
row=2
col=5

[/home/ghlin/Desktop/grammer.draft.txt]
row=1
col=1

[/home/ghlin/Desktop/protocol-p.gen.txt]
row=1
col=4

[/home/ghlin/Desktop/replay-1.yrp]
row=0
col=2

[/home/ghlin/Desktop/demo2]
row=0
col=1

[/home/ghlin/Desktop/SD_RuleBook_EN_10.pdf]
row=3
col=2

[/home/ghlin/Desktop/impl gofer.pdf]
row=2
col=1

[/home/ghlin/Desktop/exo-web-browser.desktop]
row=2
col=3

[/home/ghlin/Desktop/spineless-tagless-gmachine.pdf]
row=1
col=3

[/home/ghlin/Desktop/scene-demo.txt]
row=2
col=2

[/home/ghlin/Desktop/segment.grammer.draft.txt]
row=0
col=3

[/home/ghlin/Desktop/1.yrp]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghlin]
row=2
col=0

