[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/Parser.hs]
row=0
col=1

[/home/ghlin/Desktop/protocol-save.txt]
row=6
col=2

[/home/ghlin/Desktop/allcards.json]
row=3
col=2

[/home/ghlin/Desktop/Screenshot_2018-08-16_13-56-48.png]
row=7
col=2

[/home/ghlin/Desktop/replay-2.yrp]
row=1
col=7

[/home/ghlin/Desktop/segment.grammer.draft.txt]
row=4
col=1

[/home/ghlin/Desktop/protocol.txt]
row=8
col=1

[/home/ghlin/Desktop/allcards-low.json]
row=8
col=2

[/home/ghlin/Desktop/parsimmon.api.pdf]
row=2
col=1

[/home/ghlin/Desktop/exo-web-browser.desktop]
row=7
col=1

[/home/ghlin/Desktop/数学考纲.doc]
row=4
col=2

[/home/ghlin/Desktop/demo]
row=4
col=0

[/home/ghlin/Desktop/2.yrp]
row=9
col=0

[/home/ghlin/Desktop/allcards-pretty.json]
row=0
col=2

[/home/ghlin/Desktop/grammer.draft.txt]
row=6
col=0

[/home/ghlin/Desktop/parsimmon.api.md]
row=1
col=1

[/home/ghlin/Desktop/replay-1.yrp]
row=0
col=7

[/home/ghlin/Desktop/impl gofer.pdf]
row=7
col=0

[/home/ghlin/Desktop/spineless-tagless-gmachine.pdf]
row=5
col=1

[/home/ghlin/Desktop/scene-demo.txt]
row=6
col=1

[/home/ghlin/Desktop/demo2]
row=5
col=0

[/home/ghlin/Desktop/protocol-p.gen.txt]
row=9
col=1

[/home/ghlin/Desktop/W020170917378500673510.pdf]
row=0
col=0

[/home/ghlin/Desktop/SD_RuleBook_EN_10.pdf]
row=3
col=1

[/home/ghlin/Desktop/1.yrp]
row=8
col=0

[/home/ghlin/Desktop/protocol-org.txt]
row=2
col=2

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ghlin]
row=3
col=0

