[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/Parser.hs]
row=7
col=0

[/home/ghlin/Desktop/replay-1.yrp]
row=13
col=1

[/home/ghlin/Desktop/replay-2.yrp]
row=12
col=1

[/home/ghlin/Desktop/segment.grammer.draft.txt]
row=10
col=1

[/home/ghlin/Desktop/demo]
row=4
col=2

[/home/ghlin/Desktop/parsimmon.api.pdf]
row=9
col=0

[/home/ghlin/Desktop/exo-web-browser.desktop]
row=5
col=1

[/home/ghlin/Desktop/allcards.json]
row=11
col=0

[/home/ghlin/Desktop/2.yrp]
row=8
col=1

[/home/ghlin/Desktop/allcards-pretty.json]
row=10
col=0

[/home/ghlin/Desktop/grammer.draft.txt]
row=5
col=0

[/home/ghlin/Desktop/spineless-tagless-gmachine.pdf]
row=5
col=2

[/home/ghlin/Desktop/scene-demo.txt]
row=12
col=0

[/home/ghlin/Desktop/demo2]
row=4
col=0

[/home/ghlin/Desktop/parsimmon.api.md]
row=8
col=0

[/home/ghlin/Desktop/impl gofer.pdf]
row=6
col=0

[/home/ghlin/Desktop/SD_RuleBook_EN_10.pdf]
row=13
col=0

[/home/ghlin/Desktop/W020170917378500673510.pdf]
row=4
col=1

[/home/ghlin/Desktop/1.yrp]
row=6
col=1

[Trash]
row=9
col=1

[/]
row=11
col=1

[/home/ghlin]
row=7
col=1

