[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/UNIX痛恨者手册.pdf]
row=6
col=0

[/home/ghlin/Desktop/实习参观总结.html]
row=5
col=0

[/home/ghlin/Desktop/灿烂涅槃.pdf]
row=7
col=0

[/home/ghlin/Desktop/steam.desktop]
row=4
col=0

[/home/ghlin/Desktop/New File]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghlin]
row=2
col=0

