[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/Old Firefox Data]
row=4
col=0

[/home/ghlin/Desktop/对接]
row=3
col=0

[/home/ghlin/Desktop/Main.hs]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ghlin]
row=2
col=0

