[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/Parser.hs]
row=0
col=1

[/home/ghlin/Desktop/segment.grammer.draft.txt]
row=4
col=1

[/home/ghlin/Desktop/demo]
row=4
col=0

[/home/ghlin/Desktop/parsimmon.api.pdf]
row=2
col=1

[/home/ghlin/Desktop/exo-web-browser.desktop]
row=7
col=1

[/home/ghlin/Desktop/grammer.draft.txt]
row=6
col=0

[/home/ghlin/Desktop/spineless-tagless-gmachine.pdf]
row=5
col=1

[/home/ghlin/Desktop/scene-demo.txt]
row=6
col=1

[/home/ghlin/Desktop/demo2]
row=5
col=0

[/home/ghlin/Desktop/parsimmon.api.md]
row=1
col=1

[/home/ghlin/Desktop/impl gofer.pdf]
row=7
col=0

[/home/ghlin/Desktop/SD_RuleBook_EN_10.pdf]
row=3
col=1

[/home/ghlin/Desktop/W020170917378500673510.pdf]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/ghlin]
row=1
col=0

