[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/小组报告封面.docx]
row=8
col=0

[/home/ghlin/Desktop/对接]
row=3
col=0

[/home/ghlin/Desktop/Main.hs]
row=7
col=0

[/home/ghlin/Desktop/小组报告封面.odt]
row=0
col=0

[/home/ghlin/Desktop/UML-FinalWork.zip]
row=4
col=0

[/home/ghlin/Desktop/CCP-Docum]
row=5
col=0

[/home/ghlin/Desktop/UML-FinalWork]
row=6
col=0

[/home/ghlin/Desktop/Chromium.desktop]
row=10
col=0

[/home/ghlin/Desktop/more.pdf]
row=11
col=0

[/home/ghlin/Desktop/playing.txt]
row=9
col=0

[Trash]
row=13
col=17

[/]
row=1
col=0

[/home/ghlin]
row=2
col=0

