[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ghlin/Desktop/CCP-Docum]
row=5
col=1

[/home/ghlin/Desktop/playing.txt]
row=6
col=0

[/home/ghlin/Desktop/UML-FinalWork.zip]
row=7
col=1

[/home/ghlin/Desktop/任务完成！.7z]
row=4
col=1

[/home/ghlin/Desktop/对接]
row=0
col=0

[/home/ghlin/Desktop/UML-FinalWork]
row=4
col=7

[/home/ghlin/Desktop/Chromium.desktop]
row=7
col=0

[/home/ghlin/Desktop/Main.hs]
row=4
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/ghlin]
row=3
col=0

