
tapes/Code/.config/Code/Backups
tapes/Code/.config/Code/Cache
tapes/Code/.config/Code/CachedData
tapes/Code/.config/Code/CachedExtensions
tapes/Code/.config/Code/databases
tapes/Code/.config/Code/GPUCache
tapes/Code/.config/Code/IndexedDB
tapes/Code/.config/Code/Local Storage
tapes/Code/.config/Code/logs
tapes/Code/.config/Code/Workspaces
tapes/Code/.config/Code/Cookies
tapes/Code/.config/Code/Cookies-journal
tapes/Code/.config/Code/machineid
tapes/Code/.config/Code/Preferences
tapes/Code/.config/Code/QuotaManager
tapes/Code/.config/Code/QuotaManager-journal
tapes/Code/.config/Code/storage.json
tapes/Code/.config/Code/User/workspaceStorage
